* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #FFEBD3 no-repeat;
    background-size: cover;
}

body h1 {
    color: #67A2C5;
    font-size: 72px;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFB6A6;
    outline: none;
    padding: 5px 5px 5px 5px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.button:hover {
    background: #9BCEC1;
}